@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #c7d1d692;
    color:#3a3c55;
}

.body-container{
    max-width: 80%;
    margin: 0 auto;
}

.body-container h1 {
    font-size: 32px;
    text-align: center;
}


/* Navigation */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 1px 9px 21px -17px #888888;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #3a3c55;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

ul.topnav li a:hover:not(.active) {
    background-color: #006d7723;
}

ul.topnav li a.active {
    color: #ffffff;
    background-color: #006D77;}

ul.topnav li.right {float: right;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #006D77;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Forms */
.forms {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #006D77;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

input[type=submit]:hover {
    opacity: 1;
}

.file-upload-form form input[type=submit]{
    width: 80%;
}

.add-employee-form, .add-project-form, .file-upload-form {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 7px 10px 12px -9px #888888;
}

/* Responsive */
@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

/* red
#E63462 */
.project-cards-container, .employee-cards-container, .statistics-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.project-card, .employee-card, .statistics-card {
    background-color: #f1f1f1;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 7px 10px 12px -9px #888888;
}

.statistics-card h3 {
    background-color: #006D77;
    padding: 10px;
    color: #ffff;
}

.statistics-card h4 {
    background-color: #cccccc3a;
    padding: 10px;
}

.details {
    width: 60%;
    background-color: #006D77;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.details:hover {
    opacity: 1;
}