<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Edit project</title>
</head>
<body>
<ul class="topnav">
    <li><a th:href="@{/index}">Home</a></li>
    <li><a th:href="@{/upload}" class="active">Add data</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Dashboard</a>
        <div class="dropdown-content">
            <a th:href="@{/projects}">Projects</a>
            <a th:href="@{/employees}">Employees</a>
            <a th:href="@{/statistics}">Statistics</a>
        </div>
    </li>
    <li class="right"><a th:href="@{/about}">About</a></li>
</ul>

<div class="body-container">
    <h1>Edit Project</h1>

    <div class="add-project-form">
        <h2>AAssign Project to Employee</h2>
        <form th:action="@{'/edit/' + ${projectId}}" method="post">
            <label for="projectId">Project ID:</label><br>
            <input th:disabled="disabled" type="text" id="projectId" name="projectId" placeholder="123" th:value="${projectId}"><br>
            <label for="projectId">Select Employee ID:</label><br>
            <select id="employeeId" name="employeeId" >
                <option th:each="employee : ${availableEmployees}" th:value="${employee.id}" th:text="${employee.id}"></option>
            </select>

            <input type="submit" value="Confirm">
        </form>
    </div>
</div>

</body>
</html>
