<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css"/>
    <title>Upload</title>
</head>
<body>
<ul class="topnav">
    <li><a th:href="@{/index}">Home</a></li>
    <li><a th:href="@{/upload}" class="active">Add data</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Dashboard</a>
        <div class="dropdown-content">
            <a th:href="@{/projects}">Projects</a>
            <a th:href="@{/employees}">Employees</a>
            <a th:href="@{/statistics}">Statistics</a>
        </div>
    </li>
    <li class="right"><a th:href="@{/about}">About</a></li>
</ul>

<div class="body-container">
    <h1>Import data</h1>

    <div class="forms">
        <div class="add-employee-form">
            <h2>Add Employee</h2>
            <form th:action="@{/addEmployee}" method="post">
                <label for="employeeId">Employee ID:</label><br>
                <input type="text" id="employeeId" name="employeeId" placeholder="123"><br>
                <span th:text="${employeeIdError}" th:if="${employeeIdError}" class="error" style="font-size: 14px;color: #d05b68;"></span><br>
                <input type="submit" value="Add Employee">
            </form>
        </div>

        <div class="add-project-form">
            <h2>Add Project</h2>
            <form th:action="@{/addProject}" method="post">
                <label for="projectId">Project ID:</label><br>
                <input type="text" id="projectId" name="projectId" placeholder="123"><br>
                <span th:text="${projectIdError}" th:if="${projectIdError}" class="error" style="font-size: 14px;color: #d05b68;"></span><br>
                <input type="submit" value="Add Project">
            </form>
        </div>

        <div class="file-upload-form">
            <h2>Upload CSV file</h2>
            <form th:action="@{/uploadCSV}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="import" value="true">
                <input type="file" id="csvFile" name="csvFile">
                <input type="submit" value="Import" onclick="checkUpload()">
            </form>
        </div>
    </div>
</div>
<script>
    function checkUpload() {
        let fileInput = document.getElementById('csvFile');
        if (fileInput.files.length === 0) {
            alert('Please select a file before uploading.');
            event.preventDefault();
        }
    }
</script>

</body>
</html>
